<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="URL Shortener Microservice - Free Code Camp Back-End">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/client.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <header>
      <h1>
        URL Shortener Microservice
      </h1>
    </header>
    <main>
      <p class="bold">
        by <a href = "https://atalero.github.io/" target="blank">Andres Talero</a>
      </p>
      <p>
      Enter your URL in the box to get the shortened version!
      </p>
      
      <form>
        <input type="text" maxlength="100" placeholder="Enter the URL">
        <button type="submit">Get Shortened URL!</button>
      </form>
      <br>
      <p id="result">
        <br>
      </p>
      <p>
      View the source code on <a href="https://github.com/atalero/url-shortener"> GitHub</a>   
      </p>
    </main>
  </body>
</html>
